In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('movie_dataset.csv',low_memory=False) #read data set
 #make index column as primary column
df.head(2)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski

In [20]:
#Datatype
type(df)

pandas.core.frame.DataFrame

In [21]:
#Column Names
list(df.columns)

['index',
 'budget',
 'genres',
 'homepage',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'cast',
 'crew',
 'director']

In [22]:
df.dtypes

index                     int64
budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
cast                     object
crew                     object
director                 object
dtype: object

In [23]:
#Perform Aggregate Function

df.describe(include='all')

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
count,4803.000000,4.803000e+03,4775,1712,4803.000000,4391,4803,4803,4800,4803.000000,...,4801.000000,4803,4803,3959,4803,4803.000000,4803.000000,4760,4803,4773
unique,NaN,NaN,1168,1691,NaN,4219,37,4801,4800,NaN,...,NaN,544,3,3944,4800,NaN,NaN,4741,4776,2349
top,NaN,NaN,Drama,http://www.thehungergames.movie/,NaN,independent film,en,Batman,"Young Scottish doctor, Nicholas Garrigan decid...",NaN,...,NaN,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Based on a true story.,The Host,NaN,NaN,William Shatner Leonard Nimoy DeForest Kelley ...,[],Steven Spielberg
freq,NaN,NaN,370,4,NaN,55,4505,2,1,NaN,...,NaN,3171,4795,3,2,NaN,NaN,6,28,27
mean,2401.000000,2.904504e+07,NaN,NaN,57165.484281,NaN,NaN,NaN,NaN,21.492301,...,106.875859,NaN,NaN,NaN,NaN,6.092172,690.217989,NaN,NaN,NaN
std,1386.651002,4.072239e+07,NaN,NaN,88694.614033,NaN,NaN,NaN,NaN,31.816650,...,22.611935,NaN,NaN,NaN,NaN,1.194612,1234.585891,NaN,NaN,NaN
min,0.000000,0.000000e+00,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,0.000000,...,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,1200.500000,7.900000e+05,NaN,NaN,9014.500000,NaN,NaN,NaN,NaN,4.668070,...,94.000000,NaN,NaN,NaN,NaN,5.600000,54.000000,NaN,NaN,NaN
50%,2401.000000,1.500000e+07,NaN,NaN,14629.000000,NaN,NaN,NaN,NaN,12.921594,...,103.000000,NaN,NaN,NaN,NaN,6.200000,235.000000,NaN,NaN,NaN
75%,3601.500000,4.000000e+07,NaN,NaN,58610.500000,NaN,NaN,NaN,NaN,28.313505,...,118.000000,NaN,NaN,NaN,NaN,6.800000,737.000000,NaN,NaN,NaN
max,4802.000000,3.800000e+08,NaN,NaN,459488.000000,NaN,NaN,NaN,NaN,875.581305,...,338.000000,NaN,NaN,NaN,NaN,10.000000,13752.000000,NaN,NaN,NaN

In [24]:
#check null data

df.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [25]:
#Extract the required feature into feature variable
features=['genres','keywords','director','cast']

#remove null values of homepage and tagline

feat=['homepage','tagline','overview','release_date','runtime']

for feats in feat:
    df[feats]=df[feat].fillna('')

In [26]:
for feature in features:
    df[feature]=df[features].fillna('')

In [27]:
df.isnull().sum()

index                   0
budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
director                0
dtype: int64

In [28]:
#Define function to combine features into single comlumn
def combine_feature(row):
    return str(row['genres'])+""+str(row['keywords'])+""+str(row['director'])+""+str(row['cast'])

df['combined features']=df.apply(combine_feature,axis=1)

In [29]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director,combined features
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,Action Adventure Fantasy Science Fiction,en,Avatar,http://www.avatarmovie.com/,150.437577,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,http://www.avatarmovie.com/,Avatar,7.2,11800,Action Adventure Fantasy Science Fiction,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",Action Adventure Fantasy Science Fiction,Action Adventure Fantasy Science FictionAction...
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,139.082615,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,6.9,4500,Adventure Fantasy Action,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Adventure Fantasy Action,Adventure Fantasy ActionAdventure Fantasy Acti...
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,Action Adventure Crime,en,Spectre,http://www.sonypictures.com/movies/spectre/,107.376788,...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,http://www.sonypictures.com/movies/spectre/,Spectre,6.3,4466,Action Adventure Crime,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Action Adventure Crime,Action Adventure CrimeAction Adventure CrimeAc...
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,Action Crime Drama Thriller,en,The Dark Knight Rises,http://www.thedarkknightrises.com/,112.312950,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,http://www.thedarkknightrises.com/,The Dark Knight Rises,7.6,9106,Action Crime Drama Thriller,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Action Crime Drama Thriller,Action Crime Drama ThrillerAction Crime Drama ...
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,Action Adventure Science Fiction,en,John Carter,http://movies.disney.com/john-carter,43.926995,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,http://movies.disney.com/john-carter,John Carter,6.1,2124,Action Adventure Science Fiction,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Action Adventure Science Fiction,Action Adventure Science FictionAction Adventu...

In [30]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director',
       'combined features'],
      dtype='object')

#Data vectorization

In [31]:
#Tokenization and vectorization

from sklearn.feature_extraction.text import CountVectorizer

In [32]:
cv=CountVectorizer()

In [62]:
# Prints dict of key-value pair
print(cv.vocabulary_)

{'action': 0, 'adventure': 16, 'fantasy': 116, 'science': 222, 'fictionaction': 129, 'fiction': 128, 'actionadventure': 2, 'crimeaction': 59, 'crime': 58, 'drama': 81, 'thrilleraction': 224, 'thriller': 223, 'adventurefantasy': 25, 'animation': 32, 'familyanimation': 104, 'family': 101, 'familyadventure': 103, 'fantasyaction': 117, 'fictionadventure': 130, 'crimeadventure': 60, 'westernaction': 253, 'western': 252, 'fantasyadventure': 118, 'adventurescience': 29, 'comedy': 41, 'adventureaction': 17, 'romance': 207, 'thrillerdrama': 229, 'fictionthriller': 141, 'adventurefamily': 24, 'thrilleradventure': 225, 'familyfantasy': 110, 'comedyanimation': 44, 'actionactionactionaction': 1, 'horror': 162, 'romancedrama': 213, 'romanceadventure': 209, 'actionanimation': 3, 'dramaanimation': 84, 'fictionscience': 140, 'adventureanimation': 19, 'fictionanimation': 131, 'familydrama': 108, 'fantasyfamily': 122, 'dramaadventure': 83, 'romancefantasy': 215, 'thrillerscience': 235, 'romanceaction': 208, 'fantasydrama': 121, 'familycomedy': 105, 'mystery': 195, 'comedyadventure': 43, 'dramafantasy': 90, 'fantasyfantasyfantasyfantasy': 123, 'history': 149, 'warhistory': 248, 'war': 241, 'dramawar': 99, 'mysteryadventure': 197, 'actionfantasy': 8, 'fictiondrama': 134, 'fantasyanimation': 119, 'dramaaction': 82, 'animationfamily': 38, 'mysterythriller': 206, 'comedyfantasy': 50, 'adventureadventureadventureadventure': 18, 'fantasycomedy': 120, 'comedyfamily': 49, 'waradventure': 243, 'comedyaction': 42, 'animationadventure': 34, 'familyaction': 102, 'comedycomedycomedycomedy': 45, 'historydrama': 155, 'mysteryaction': 196, 'thrillerwestern': 239, 'adventuredrama': 23, 'dramadramadramadrama': 88, 'crimefantasy': 65, 'horrorthriller': 175, 'mysteryscience': 205, 'romancecomedy': 211, 'actionscience': 13, 'wardrama': 246, 'comedyscience': 55, 'dramascience': 96, 'actiondrama': 6, 'crimethriller': 72, 'waraction': 242, 'animationfantasy': 39, 'musicromance': 193, 'music': 180, 'adventurethriller': 30, 'dramahistory': 91, 'crimedrama': 63, 'westerndrama': 257, 'comedycrime': 46, 'historythriller': 159, 'thrillerwar': 238, 'animationanimationanimationanimation': 35, 'thrillercrime': 228, 'dramaromance': 95, 'warwestern': 251, 'dramathriller': 97, 'actioncomedy': 4, 'mysterydrama': 200, 'fictioncomedy': 132, 'dramacrime': 86, 'historyromance': 158, 'warwarwarwar': 250, 'comedydrama': 48, 'mysteryfantasy': 201, 'musicdrama': 187, 'fictionfantasy': 136, 'comedymystery': 53, 'fantasyhorror': 124, 'actionthriller': 14, 'fantasyscience': 126, 'dramacomedy': 85, 'animationcomedy': 36, 'comedyromance': 54, 'actionmystery': 11, 'mysteryhorror': 203, 'actionwar': 15, 'adventurecomedy': 20, 'familywestern': 115, 'musicanimation': 183, 'horrormystery': 172, 'documentary': 73, 'familydocumentary': 107, 'dramafamily': 89, 'horrorcrime': 166, 'adventurewestern': 31, 'romancefamily': 214, 'thrillerhorror': 232, 'historycomedy': 152, 'crimecomedy': 61, 'crimemystery': 69, 'mysterycrime': 199, 'adventureromance': 28, 'musiccomedy': 184, 'warhorror': 249, 'historyadventure': 151, 'horroradventure': 164, 'horrorfantasy': 169, 'thrillerthrillerthrillerthriller': 236, 'adventuremystery': 27, 'horroraction': 163, 'mysteryromance': 204, 'thrillermystery': 233, 'dramamystery': 94, 'familycrime': 106, 'westerncrime': 256, 'musicadventure': 182, 'documentarymusic': 80, 'crimeromance': 70, 'romancecrime': 212, 'romancescience': 219, 'westerncomedy': 255, 'westernadventure': 254, 'horrorscience': 174, 'musichistory': 190, 'romancethriller': 220, 'thrillerfantasy': 230, 'historywar': 160, 'actioncrime': 5, 'romancehorror': 216, 'musicfantasy': 189, 'familyromance': 112, 'fictionhorror': 137, 'thrillercomedy': 227, 'fictioncrime': 133, 'horrorhorrorhorrorhorror': 170, 'romancemusic': 217, 'westernwesternwesternwestern': 260, 'actionhorror': 10, 'comedythriller': 56, 'horrorromance': 173, 'dramamusic': 93, 'adventurecrime': 21, 'warcomedy': 244, 'historyaction': 150, 'comedymusic': 52, 'horrordrama': 167, 'historycrime': 153, 'comedyhorror': 51, 'romancewar': 221, 'familymusic': 111, 'horrorcomedy': 165, 'musicaction': 181, 'musichorror': 191, 'musicmusicmusicmusic': 192, 'romanceromanceromanceromance': 218, 'documentarydocumentarydocumentarydocumentary': 76, 'thrillerromance': 234, 'crimemusic': 68, 'fictionmystery': 138, 'actionfamily': 7, 'fantasythriller': 127, 'familyscience': 113, 'mysteryhistory': 202, 'dramawestern': 100, 'mysterycomedy': 198, 'horrorfamily': 168, 'romanceanimation': 210, 'crimehorror': 67, 'familyfamilyfamilyfamily': 109, 'thrilleranimation': 226, 'foreigncomedy': 146, 'foreign': 142, 'musicfamily': 188, 'dramahorror': 92, 'fantasyromance': 125, 'crimescience': 71, 'historyhistoryhistoryhistory': 156, 'historywestern': 161, 'warfantasy': 247, 'musiccrime': 185, 'foreigndrama': 148, 'actionhistory': 9, 'fictionfamily': 135, 'fictionromance': 139, 'adventurehorror': 26, 'musicdocumentary': 186, 'documentaryaction': 74, 'warcrime': 245, 'tv': 240, 'movie': 177, 'dramatv': 98, 'animationscience': 40, 'westernromance': 258, 'crimehistory': 66, 'comedydocumentary': 47, 'documentarycomedy': 75, 'thrillertv': 237, 'foreignaction': 143, 'moviecomedy': 179, 'documentarydrama': 77, 'westernwar': 259, 'horrortv': 176, 'animationaction': 33, 'familytv': 114, 'comedywestern': 57, 'dramadocumentary': 87, 'crimecrimecrimecrime': 62, 'adventuredocumentary': 22, 'documentaryhistory': 79, 'foreignanimation': 145, 'historymystery': 157, 'historydocumentary': 154, 'foreignadventure': 144, 'crimefamily': 64, 'musicscience': 194, 'foreigndocumentary': 147, 'actionromance': 12, 'horrormusic': 171, 'animationdrama': 37, 'documentaryforeign': 78, 'movieanimation': 178, 'thrillerforeign': 231}

In [34]:
# word counting
x=cv.fit_transform(df['combined features']) #x is a sparse matrix
print(x.toarray())
print(type(x))

[[1 0 0 ... 0 0 0]
 [1 0 3 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
<class 'scipy.sparse.csr.csr_matrix'>

In [35]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

In [36]:
A_sparse=sparse.csr_matrix(x) #convert sparse matrix to cosine Similarity Matrix
similarity_score=cosine_similarity(A_sparse,dense_output=True) #if False then sparse output is returned

In [37]:
print(similarity_score)

[[1.         0.52615222 0.42593275 ... 0.         0.         0.        ]
 [0.52615222 1.         0.18518519 ... 0.         0.         0.        ]
 [0.42593275 0.18518519 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [38]:
df['index']

0          0
1          1
2          2
3          3
4          4
        ...
4798    4798
4799    4799
4800    4800
4801    4801
4802    4802
Name: index, Length: 4803, dtype: int64

In [56]:
def gt_title(tit):
    return df[df.index==tit]['title'].values[0]

def gt_index(ind):
    return df[df.title==ind]['index'].values[0]

In [57]:
#take value from user and search for similiar movies
input_user=input('\n Enter a movie name \n')
movie_index=gt_index(input_user)
similiar_movies=list(enumerate(similarity_score[movie_index]))

 Enter a movie name
Harry Potter and the Half-Blood Prince

In [58]:
sorted_similiar_movies=sorted(similiar_movies,key=lambda x:x[1],reverse=True)[1:] #Descending values

In [61]:
i=0
print('Top 5 similiar movies are \n')
for element in sorted_similiar_movies:
    print(gt_title(element[0]))
    
    i=i+1
    if i>5:
        break

Top 5 similiar movies are

Harry Potter and the Goblet of Fire
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Philosopher's Stone
Harry Potter and the Chamber of Secrets
Percy Jackson & the Olympians: The Lightning Thief
Night at the Museum: Secret of the Tomb

In [63]:
df[['original_title','title']]

,original_title,title
0,Avatar,Avatar
1,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End
2,Spectre,Spectre
3,The Dark Knight Rises,The Dark Knight Rises
4,John Carter,John Carter
...,...,...
4798,El Mariachi,El Mariachi
4799,Newlyweds,Newlyweds
4800,"Signed, Sealed, Delivered","Signed, Sealed, Delivered"
4801,Shanghai Calling,Shanghai Calling
4802,My Date with Drew,My Date with Drew